

*{
    margin: 0;
  }

/*----------------------------------
    Style du footer
  ------------------------------------*/ 
  footer {
    color: #496293;
    font-family: Roboto;
    background-color: #C7D8F2;
  }
/*----------------------------------
    Style du formulaire  de contact
  ------------------------------------*/ 

#contactForm {
    padding: 2em;
    min-height: 15vh;
  }

/* Style du nous contacter */
#contactForm h4 {
    color: #496293;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height:  44.444%;
}


/* Style des labels */
#contactForm label{
  color: #496293;
  font-family: Roboto;
  font-style: normal;
}

/* style des input */
#contactForm input, #contactForm textarea {
    padding: 1em;
    border: none;
    border-bottom: 2px solid #5874AC;
    background: #F2F4FF;

    color: #c1c6d1;
    font-family: Montserrat;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;

}
/* style des input en focus */
  #contactForm input:focus, #contactForm textarea:focus {
    color: #5874AC;
    outline: none; 
  }

  /* style du bouton */
  #contactForm #bouton{
    padding: 1em;
    background-color: #496293;
    color : #FFFFFF;
  }

  #contactForm #bouton:hover {
    background-color: #859ecc; 
    color : #496293;
  }

 
 #confirmation-message{
    margin-top: 1em;
    color: #496293;
    font-family: Roboto;
    font-style: normal;
 }
